.slide-fade-enter-active {
  transition: all 350ms ease-out;
}

.slide-fade-leave-active {
  transition: all 350ms cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(20px);
  opacity: 0;
}

.card-enter-active,
.card-leave-active {
  transition: all 350ms ease-in;
}

.card-enter-from,
.card-leave-to {
  opacity: 0;
  transform: translateY(1rem);
}
